@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: url("../../src/fonts/Lexend-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  src: url("../../src/fonts/Lexend-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 900;
  src: url("../../src/fonts/Lexend-Black.ttf") format("truetype");
}


// Fuentes
$fuente_principal: 'Lexend', sans-serif;
$paragraph: 400 1.4rem/1.5 $fuente_principal;
$paragraph-tablet: 400 1.6rem/1.5 $fuente_principal;
$title1: 900 4rem/1.2 $fuente_principal;
$title2: 900 3.6rem/1.2 $fuente_principal;
$title3: 900 3.2rem/1.2 $fuente_principal;

// Colores
$primario: #e8505b;
$secundario: rgb(189, 30, 89);
$negro: #000;
$blanco: #FFFFFF;
$gris: #686868;
$grisClaro: #c7c7c7;