@use "../base/variables" as v;

.experiencias {
  padding-block: 2.4rem;

  @media (min-width: 1024px) {
    padding-block: 4.8rem;
  }

  &__titulo {
    margin-bottom: .8rem;

    @media (min-width: 1024px) {
      margin-bottom: 1.6rem;
    }
  }

  &__descripcion {
    margin-bottom: 2.4rem;

    @media (min-width: 768px) {
      margin-bottom: 4.8rem;
    }
  }

  &__grid {
    overflow-x: scroll;
    padding-bottom: 1.6rem;
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    gap: 1.6rem;
    scroll-snap-type: x mandatory;

    @media (min-width: 768px) {
      overflow-x: unset;
      scroll-snap-type: unset;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &::-webkit-scrollbar {
      width: 100%; // ancho de la barra
      height: .8rem; // alto de la barra
    }

    &::-webkit-scrollbar-track {
      background: v.$grisClaro; // color del riel de la barra
    }

    &::-webkit-scrollbar-thumb {
      background-color: v.$primario; // color de la barra
      border-radius: 1rem; // borde de la barra
    }
  }

  &__experiencia {
    scroll-snap-align: start;
  }

  &__img {
    width: 30rem;
    height: 30rem;
    border-radius: 1.6rem;
    margin-bottom: 0.8rem;

    @media (min-width: 768px) {
      width: 100%;
      height: auto;
    }
  }

  &__subtitulo {
    font-weight: 700;
  }

}